*{
	font-size: 20px;
}

body {
	padding: 10px;
	text-align: center;
}

button {
	display: inline-block;
 	margin-left: 10px;
    width: 200px;
    height: 200px;
    
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

	color: #fff;
    background-color: #02ac46;
	border: 2px solid #02ac46;
    border-radius: 50%;
    
	transition: color .3s, background-color .3s;

    cursor: pointer;
	outline: 0!important;
    
}

button:hover{
	background-color: red;
}

#output, #result, #round{
	margin-top: 20px;
}

#start_btn{
	background-color: red;
}

#new:hover{
	background-color: green;
}